# Настройки приложения
APP_TITLE=Кафффетерий
DESCRIPTION=Сервис бронирования столиков в кафе
SECRET=SECRET

# Настройки для создания 1-го админа.
FIRST_SUPERUSER_EMAIL=ya@ya.ru
FIRST_SUPERUSER_PASSWORD=admin
FIRST_SUPERUSER_USERNAME=admin
FIRST_SUPERUSER_PHONE=89111111111

# logging
ENVIRONMENT=dev
LOG_LEVEL=INFO

# Общие настройки для БД
POSTGRES_USER=user
POSTGRES_PASSWORD=pass
POSTGRES_DB=db
POSTGRES_SERVER=db
POSTGRES_PORT=5432

# Для app (подключение к БД)
DATABASE_URL=postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_SERVER}:5432/${POSTGRES_DB}


REDIS_PASSWORD=secret_redis
REDIS_URL=redis://:${REDIS_PASSWORD}@redis:6379/0
CELERY_BROKER_URL=redis://:${REDIS_PASSWORD}@redis:6379/0
CELERY_RESULT_BACKEND=redis://:${REDIS_PASSWORD}@redis:6379/0

# Настройки celery-приложения
CELERY_TIMEZONE=Europe/Moscow
CELERY_TASK_TIME_LIMIT=1800
CELERY_TASK_SOFT_TIME_LIMIT=1500
CELERY_SECURITY_KEY=0c2790d7dd81a2821a237b849328e654c52a2231d9100036ec34889d5eabd490

# Настройки для SMTP-сервиса и данные для отправки сообщений 
ADMIN_EMAIL=adm_caffeteriy@bk.ru
SMTP_HOST=smtp.mail.ru
SMTP_PORT=465
SMTP_USER=adm_caffeteriy@bk.ru
CLIENT_EMAIL="hipstot@yandex.ru"