# Настройки приложения
APP_TITLE=Кафффетерий
DESCRIPTION=Сервис бронирования столиков в кафе
SECRET=SECRET

# Настройки для создания 1-го админа.
FIRST_SUPERUSER_EMAIL=ya@ya.ru
FIRST_SUPERUSER_PASSWORD=admin
FIRST_SUPERUSER_USERNAME=admin
FIRST_SUPERUSER_PHONE=89111111111

# logging
ENVIRONMENT=dev
LOG_LEVEL=INFO

# Общие настройки для БД
POSTGRES_USER=user
POSTGRES_PASSWORD=pass
POSTGRES_DB=db
POSTGRES_SERVER=db
POSTGRES_PORT=5432

# Redis
REDIS_PASSWORD=secret_redis
REDIS_URL=redis://:${REDIS_PASSWORD}@redis:6379/0
CELERY_BROKER_URL=redis://:${REDIS_PASSWORD}@redis:6379/0
CELERY_RESULT_BACKEND=redis://:${REDIS_PASSWORD}@redis:6379/0

# Настройки celery-приложения
CELERY_TIMEZONE=Europe/Moscow
CELERY_TASK_TIME_LIMIT=1800
CELERY_TASK_SOFT_TIME_LIMIT=1500
CELERY_SECURITY_KEY=your-celery-security-key

# Настройки для SMTP-сервиса и данные для отправки сообщений
ADMIN_EMAIL=admin@example.com
SMTP_HOST=smtp.mail.ru
SMTP_PORT=465
SMTP_USER=admin@example.com
CLIENT_EMAIL=client@example.com
