# Настройки приложения
APP_TITLE=Кафффетерий
DESCRIPTION=Сервис бронирования столиков в кафе
SECRET=SECRET

# Настройки для создания 1-го админа.
FIRST_SUPERUSER_EMAIL=ya@ya.ru
FIRST_SUPERUSER_PASSWORD=admin
FIRST_SUPERUSER_USERNAME=admin
FIRST_SUPERUSER_PHONE=89111111111

# Общие настройки для БД
POSTGRES_USER=user
POSTGRES_PASSWORD=pass
POSTGRES_DB=db
POSTGRES_SERVER=db
POSTGRES_PORT=5432

# Для app (подключение к БД)
DATABASE_URL=postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_SERVER}:5432/${POSTGRES_DB}
