APP_TITLE=Кафффетерий
DESCRIPTION=Сервис бронирования столиков в кафе
SECRET=SECRET
FIRST_SUPERUSER_EMAIL=ya@ya.ru
FIRST_SUPERUSER_PASSWORD=admin
# db
DATABASE_URL=postgresql+asyncpg://user:pass@localhost/db
POSTGRES_USER=user
POSTGRES_PASSWORD=pass
POSTGRES_DB=db
POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
