# Настройки приложения
APP_TITLE=Кафффетерий
DESCRIPTION=Сервис бронирования столиков в кафе
SECRET=SECRET

# Общие настройки для БД
POSTGRES_USER=user
POSTGRES_PASSWORD=pass
POSTGRES_DB=db
POSTGRES_SERVER=db  # full docker: db, local = localhost
POSTGRES_PORT=5432

# Для app (подключение к БД)
# DATABASE_URL=postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_SERVER}:5432/${POSTGRES_DB}
