# API фреймворк
fastapi==0.116.1
uvicorn[standard]==0.44.0
python-multipart==0.0.24

# Валидация данных и работа с настройками
pydantic==2.12.5
pydantic-settings==2.13.1
python-dotenv==1.2.2

# База данных и миграции
SQLAlchemy==2.0.49
asyncpg==0.31.0
alembic==1.18.4

# Аутентификация и безопасность
passlib[argon2,bcrypt]==1.7.4
PyJWT==2.10.1
email-validator==2.3.0

# Асинхронные задачи и брокер сообщений
celery==5.6.3
redis==7.4.0
flower==2.0.1

# Работа с файлами и изображениями
aiofiles==25.1.0
pillow==12.2.0

# Логирование
loguru==0.7.3